# MySQL Database Connection String
# Format: mysql://user:password@hostname:3306/database_name
DATABASE_URL="mysql://root:password@localhost:3306/linkwise"

# Public APP URL for short link resolution
NEXT_PUBLIC_APP_URL="http://localhost:3010"
AUTH_URL="http://localhost:3010"

# Custom Branding
NEXT_PUBLIC_APP_NAME="LinkWise"
NEXT_PUBLIC_SUPPORT_EMAIL="linkwise@slpro.in"

# NextAuth / Auth.js & Keycloak Configuration
AUTH_SECRET="your-super-secret-key"
AUTH_KEYCLOAK_ID="linkwise-client"
AUTH_KEYCLOAK_SECRET="your-keycloak-client-secret"
AUTH_KEYCLOAK_ISSUER="http://localhost:8080/realms/your-realm"

# SMTP Configuration (For Email Campaigns & Reports)
SMTP_HOST="smtp.gmail.com"
SMTP_PORT="587"
SMTP_USER="your-email@gmail.com"
SMTP_PASS="your-app-password"
SMTP_FROM_NAME="Link-Wise"
SMTP_FROM_EMAIL="support@yourdomain.com"
